<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OverseeGateway.My.MySettings.ConnectionString" connectionString="Data Source=RDKNET;Persist Security Info=True;User ID=TBCSH;Password=TBCSH;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
