[main]
Description=TBCNTY
Host=61.58.64.49
AuthType=1
GroupName=NTYVPN
GroupPwd=
enc_GroupPwd=1098CF28CED438D638DBF3082A3C55231CD6EE8633687E8B740965A9EDAF93EA3C27E50D61FBE56F584BD036BF6B633B
EnableISPConnect=0
ISPConnectType=0
ISPConnect=cns 基隆虛擬私人連線
ISPCommand=
Username=NTYVPN
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
VerifyCertDN=
DHGroup=2
ForceKeepAlives=0
PeerTimeout=90
EnableLocalLAN=0
