vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.actproj.asm.c.cc.cod.cpp.cs.cxx.dbs.def.dsp.dsw.etp.ext.fky.h.hpp.hxx.i.idl.inc.inl.iss.jsl.kci.lgn.lst.mak.map.mk.odh.odl.prc.rc.rc2.rct.rgs.rul.s.sol.sor.sql.srf.tab.tlh.tli.trg.txt.udf.udt.user.usr.vb.vcproj.viw.vspscc.vsscc.vssscc.
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport vti_ServerIndexServer
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_categories:VR|旅行 費用報告 商務 競爭 目標/目的 主意 雜項 等待中 VIP 處理中 計劃 排程
vti_textindexood:IR|0
vti_htmlextensions:SX|.htm.asp.htm.html.jsp.shtml.xhtml.stm.html.htm.shtm.htt.htx.alx.asa.
vti_approvallevels:VR|內容檢閱 法務檢閱 程式碼檢閱 管理員檢閱
vti_timecreated:TR|12 Jun 2006 02:45:18 -0000
vti_extenderversion:SR|4.0.2.8912
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp
vti_insecureserverurl:SR|http://nick-nb
vti_secureserverurl:SR|https://nick-nb
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_title:SW|prjEmcQueryDB
vti_defaultcharset:SR|big5
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
