<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleSocke.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SimpleSocke.My.MySettings>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="ParaSet" serializeAs="String">
                <value />
            </setting>
            <setting name="SendTimeOut" serializeAs="String">
                <value />
            </setting>
            <setting name="RcvTimeOut" serializeAs="String">
                <value />
            </setting>
            <setting name="LowCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="Encrypted_asset_flag" serializeAs="String">
                <value />
            </setting>
            <setting name="Validity_Flag" serializeAs="String">
                <value />
            </setting>
            <setting name="nb_of_R_VOD_ENT" serializeAs="String">
                <value />
            </setting>
            <setting name="chipset_type_flag" serializeAs="String">
                <value />
            </setting>
            <setting name="additional_address_flag" serializeAs="String">
                <value />
            </setting>
            <setting name="DMM_creation_fate_flag" serializeAs="String">
                <value />
            </setting>
            <setting name="DMM_creation_date" serializeAs="String">
                <value />
            </setting>
            <setting name="STBSNo" serializeAs="String">
                <value />
            </setting>
            <setting name="OrderDate" serializeAs="String">
                <value />
            </setting>
            <setting name="viewing_duration" serializeAs="String">
                <value />
            </setting>
            <setting name="source_id" serializeAs="String">
                <value />
            </setting>
            <setting name="dest_id" serializeAs="String">
                <value />
            </setting>
            <setting name="MOP_PPID" serializeAs="String">
                <value />
            </setting>
            <setting name="SEQNO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Asset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductId" serializeAs="String">
                <value />
            </setting>
            <setting name="expiration_date" serializeAs="String">
                <value />
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlDuration" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlMetho" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlRepeat" serializeAs="String">
                <value />
            </setting>
            <setting name="urlTimeOut" serializeAs="String">
                <value />
            </setting>
        </SimpleSocke.My.MySettings>
    </userSettings>
</configuration>
